# SPDX-License-Identifier: Apache-2.0
name: "[Release] Create New Release"
on:
  workflow_dispatch:
    inputs:
      build_number:
        description: "Build Number (ex: 43 = build-00043):"
        type: string
        required: true
      alpha-release:
        description: "Create Alpha Tag"
        required: false
        default: false
        type: boolean
      dry-run-enabled:
        description: "Perform Dry Run"
        required: false
        default: true
        type: boolean

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: write
  actions: read

jobs:
  create-new-tag:
    name: Create New Tag
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.next-release.outputs.version }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Print Input Parameters
        run: |
          echo "Input Parameters:"
          echo "  Build Number: ${{ inputs.build_number }}"
          echo "  Alpha Release: ${{ inputs.alpha-release }}"
          echo "  Dry Run Enabled: ${{ inputs.dry-run-enabled }}"

      - name: Build Input Validation
        id: validate
        run: |
          echo "The input is ${{ inputs.build_number }}"
          if ! [[ "${{ inputs.build_number }}" =~ ^[0-9]+$ ]]; then
            echo "Input is not a valid integer"
            exit 1
          fi
          echo "Input is a valid integer: $(( ${{ inputs.build_number }} ))"

          # 5-digit padding
          padded_number="$(printf "%05d" "${{ inputs.build_number }}")"
          echo "Padded number is: ${padded_number}"

          # Add "build-" prefix to the padded number
          build_tag="build-${padded_number}"
          echo "Prefixed number is: ${build_tag}"

          # Export to Github output and Github summary
          echo "build-tag=${build_tag}" >> ${GITHUB_OUTPUT}
          echo "Build Tag to Release: ${build_tag}" >> ${GITHUB_STEP_SUMMARY}

      - name: Checkout Code
        id: checkout_code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: "0"
          ref: ${{ steps.validate.outputs.build-tag }}
          token: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Import GPG Key
        uses: step-security/ghaction-import-gpg@c86c374c0659a6c2d1284bccf8af889e73ce8fe0 # v6.3.0
        with:
          git_commit_gpgsign: true
          git_tag_gpgsign: true
          git_user_signingkey: true
          gpg_private_key: ${{ secrets.SVCS_GPG_KEY_CONTENTS }}
          passphrase: ${{ secrets.SVCS_GPG_KEY_PASSPHRASE }}

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Calculate Temporary Semantic Release Branch Name
        id: branch
        run: |
          echo "name=ci/release/prep/${{ steps.validate.outputs.build-tag }}" >> ${GITHUB_OUTPUT}

      - name: Print Temporary Branch Name
        run: |
          echo "The temporary branch name is: ${{ steps.branch.outputs.name }}"
          echo "Temporary Branch Name: ${{ steps.branch.outputs.name }}" >> ${GITHUB_STEP_SUMMARY}

      # Need to create a temporary branch so we can use the git-semver tool to create a release.
      # Semantic versioning only works off branches, not tags.
      - name: Create a Temporary Semantic Release Branch
        run: git checkout -b ${{ steps.branch.outputs.name }}

      - name: Echo Current Branch Name
        run: |
          current_branch="$(git symbolic-ref --short HEAD)"
          echo "Currently on branch: ${current_branch}"

      - name: Push Temporary Branch to Origin
        if: ${{ inputs.dry-run-enabled != true }}
        run: |
          echo "Pushing temporary branch to origin"
          git push --set-upstream origin "${{ steps.branch.outputs.name }}"

      - name: Git-Semver Setup Action
        uses: pandaswhocode/setup-git-semver@b820991c162d51f81f309c522b2b595d97d645eb # v1.0.8

      - name: Identify Current Version Number
        id: current-version
        run: |
          echo "Find the current version number"
          current_version="$(git-semver latest)"
          echo "Current version is: ${current_version}"

      # IF HIERO/HEDERA TRANSITIONS TO A MAJOR RELEASE NUMBER (1.0.0+)
      # stable = false WILL NO LONGER BE VALID
      - name: Compute Next Version Number
        id: next-release
        env:
          ALPHA_FLAG: ${{ inputs.alpha-release }}
        run: |
          echo "Alpha Flag: ${ALPHA_FLAG}"
          echo "Compute next version number using git-semver"
          if [[ "${ALPHA_FLAG}" == "true" ]]; then
            OUTPUT="$(git-semver next --stable=false --pre-release-tag=alpha --pre-release-counter 2>&1)" || STATUS="${?}"
          else
            OUTPUT="$(git-semver next --stable=false 2>&1)" || STATUS="${?}"
          fi
          echo "${OUTPUT}"
          if [[ -n "${STATUS}" ]]; then
            echo "git-semver failed with status ${STATUS}"
            exit "${STATUS}"
          fi

          echo "Next release version is: v${OUTPUT}"
          echo "version=v${OUTPUT}" >> ${GITHUB_OUTPUT}

      - name: Calculate and Create Release Branch
        env:
          ALPHA_FLAG: ${{ inputs.alpha-release }}
        run: |
          # Get current version information
          current_version="$(git-semver latest)"
          current_major_version="$(semver get major "${current_version}")"
          current_minor_version="$(semver get minor "${current_version}")"

          # Get next version information
          next_version="${{ steps.next-release.outputs.version }}"
          next_major_version="$(semver get major "${next_version}")"
          next_minor_version="$(semver get minor "${next_version}")"

          # Release branch flag for whether or not we should create the release branch
          CREATE_RELEASE_BRANCH=false

          # Create a string for the release branch name:
          major_minor_version="${next_major_version}.${next_minor_version}"
          release_branch="release/${major_minor_version}"

          # Check if this is a major version bump
          if [[ "${next_major_version}" -gt "${current_major_version}" ]]; then
            echo "Major version bump detected (${current_version} -> ${next_version})."
            CREATE_RELEASE_BRANCH=true

          # Check if this is a minor version bump
          elif [[ "${next_major_version}" -eq "${current_major_version}" && "${next_minor_version}" -gt "${current_minor_version}" ]]; then
            echo "Minor version bump detected (${current_version} -> ${next_version})."
            CREATE_RELEASE_BRANCH=true

          # Not a major or minor version bump, so we do not set the flag to create a release branch
          else
            echo "No major or minor version bump detected. Skipping release branch creation."
          fi

          # If this is an alpha flag we do not want to create a release branch
          if [[ "${ALPHA_FLAG}" == "true" ]]; then
            CREATE_RELEASE_BRANCH=false
            echo "Alpha release detected. Skipping release branch creation."
          fi

          if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
            CREATE_RELEASE_BRANCH=false
            echo "Dry run enabled. Skipping release branch creation."
          fi

          # Create and push the release branch if CREATE_RELEASE_BRANCH is true
          if [[ "${CREATE_RELEASE_BRANCH}" == "true" ]]; then
            echo "Check if the release branch already exists."
            # Check if the branch exists remotely
            if git ls-remote --exit-code --heads origin "${release_branch}" >/dev/null 2>&1; then
              echo "Release branch ${release_branch} already exists. Skipping creation."
            else
              echo "Creating release branch: ${release_branch}"
              git checkout -b "${release_branch}"
              git push origin "${release_branch}"
            fi
          fi

      - name: Apply Tag with Calculated Next Version
        run: |
          echo "Applying computed version tag"
          if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
            echo "Dry run enabled, not applying tag ${{ steps.next-release.outputs.version }}"
          else
            git tag --sign --annotate "${{ steps.next-release.outputs.version }}" --message "${{ steps.next-release.outputs.version }}"
            echo "Applied tag ${{ steps.next-release.outputs.version }}"
            current_version="$(git-semver latest)"
            echo "Version Tag Applied: ${{ steps.next-release.outputs.version }}" >> ${GITHUB_STEP_SUMMARY}
            echo "Current Official Version: ${current_version}" >> ${GITHUB_STEP_SUMMARY}
          fi

      - name: Push Release Tag to Remote
        if: ${{ inputs.dry-run-enabled != true }}
        run: |
          echo "Pushing release tag to remote"
          git push origin "${{ steps.next-release.outputs.version }}"
          echo "Pushed new release tag ${{ steps.next-release.outputs.version }} to remote"

      - name: Clean Up git-semver
        run: |
          echo "Deleting git-semver directory"
          rm -rf ./git-semver
          echo "Successfully removed git-semver directory"

      - name: View Status After Running Semantic Release
        run: git status

      - name: Ensure Branch Not in Use and Delete Worktree
        if: always()
        run: |
          # Switch to main
          git checkout main

          # Check if the branch is associated with a worktree and remove the worktree if it exists
          worktree_path="$(git worktree list | grep "${{ steps.branch.outputs.name }}" || true)"

          if [[ -n "${worktree_path}" ]]; then
            echo "Removing worktree at ${worktree_path}"
            git worktree remove "${worktree_path}"
          else
            echo "No worktree found for branch ${{ steps.branch.outputs.name }}"
          fi

      - name: Delete the Temporary Semantic Release Branch
        if: always()
        run: |
          echo "Deleting the temporary semantic release branch"
          git branch -d "${{ steps.branch.outputs.name }}"
          echo "Deleted Temporary Branch from Local Runner" >> ${GITHUB_STEP_SUMMARY}

          if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
            echo "No remote branches to delete"
          else
            echo "Deleting remote branch now:"
            git push -d origin "${{ steps.branch.outputs.name }}"
            echo "Deleted Temporary Branch from Remote" >> ${GITHUB_STEP_SUMMARY}
          fi

      - name: Print Output Parameters for Create Github Release Job
        if: ${{ inputs.alpha-release != true && github.event.repository.private == false }}
        run: |
          echo "Output Parameters for Create GitHub Release Job:"
          echo "  Ref: ${{ steps.next-release.outputs.version }}"
          echo "  Release Version: ${{ steps.next-release.outputs.version }}"
          echo "  Create Release Notes: true"
          echo "  Create Release: true"
          echo "  Dry Run: ${{ inputs.dry-run-enabled }}"

  create-github-release:
    name: Create GitHub Release
    if: ${{ inputs.alpha-release != true && inputs.dry-run-enabled != true && github.event.repository.private == false }}
    uses: ./.github/workflows/zxc-create-github-release.yaml
    needs:
      - create-new-tag
    with:
      ref: ${{ needs.create-new-tag.outputs.version }}
      release-version: ${{ needs.create-new-tag.outputs.version }}
      create-release-notes: true
      create-release: true
      dry-run: ${{ inputs.dry-run-enabled }}
    secrets:
      gh-access-token: ${{ secrets.GH_ACCESS_TOKEN }}
