# SPDX-License-Identifier: Apache-2.0
name: "ZXC: Execute Unit Tests"
on:
  workflow_call:
    inputs:
      ref:
        description: "The branch, tag or SHA to checkout."
        required: false
        type: string
        default: ""
      java-distribution:
        description: "Java JDK Distribution:"
        type: string
        required: false
        default: "temurin"
      java-version:
        description: "Java JDK Version:"
        type: string
        required: false
        default: "21.0.6"
      node-version:
        description: "NodeJS Version:"
        type: string
        required: false
        default: "20"
    secrets:
      access-token:
        description: "The GitHub access token used to checkout the repository, submodules, and make GitHub API calls."
        required: true
      gradle-cache-username:
        description: "The username used to authenticate with the Gradle Build Cache Node."
        required: true
      gradle-cache-password:
        description: "The password used to authenticate with the Gradle Build Cache Node."
        required: true
      codecov-token:
        description: "The Codecov token used to report code coverage."
        required: false
      codacy-project-token:
        description: "The Codacy project token used to report code coverage."
        required: false
    outputs:
      failure-mode:
        description: "Failure Mode"
        value: ${{ jobs.execute-unit-tests.outputs.failure-mode }}

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  actions: read
  pull-requests: write
  statuses: write
  checks: write
  contents: read

env:
  GRADLE_CACHE_USERNAME: ${{ secrets.gradle-cache-username }}
  GRADLE_CACHE_PASSWORD: ${{ secrets.gradle-cache-password }}
  GRADLE_EXEC: ionice -c 2 -n 2 nice -n 19 ./gradlew
  CG_EXEC: ionice -c 2 -n 2 nice -n 19

jobs:
  execute-unit-tests:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    outputs:
      failure-mode: ${{ steps.set-failure-mode.outputs.failure-mode }}
    steps:
      - name: Prepare Runner
        id: prepare-runner
        uses: pandaswhocode/initialize-github-job@bfe0b1633012cee3033c757c7095d49c360e23a6 # v1.0.1
        with:
          checkout: "true"
          checkout-ref: "${{ inputs.ref }}"
          checkout-fetch-depth: "1"
          checkout-token: "${{ secrets.access-token }}"
          setup-java: "true"
          java-version: "${{ inputs.java-version }}"
          java-distribution: "${{ inputs.java-distribution }}"
          setup-gradle: "true"
          gradle-cache-read-only: "false"
          setup-node: "true"
          node-version: "${{ inputs.node-version }}"

      - name: Unit Testing
        id: gradle-test
        run: ${GRADLE_EXEC} :aggregation:testCodeCoverageReportPartitioned

      - name: Publish Unit Test Report
        id: publish-unit-test-report
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: "Node: Unit Test Results"
          json_thousands_separator: ","
          junit_files: "**/build/test-results/test/TEST-*.xml"
          comment_mode: errors # only comment if we could not find or parse the JUnit XML files

      - name: Upload Unit Test Report Artifacts
        id: upload-artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: Unit Test Report
          path: "**/build/test-results/test/TEST-*.xml"
          retention-days: 7

      - name: Publish To Codecov
        id: publish-codecov
        uses: codecov/codecov-action@5c47607acb93fed5485fdbf7232e8a31425f672a # v5.0.2
        with:
          token: ${{ secrets.codecov-token }}
          directory: ./gradle/aggregation/build/reports/jacoco-xml

      - name: Publish to Codacy
        id: publish-codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.codacy-project-token }}
        if: ${{ !github.event.pull_request.head.repo.fork }}
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report -l Java $(find gradle/aggregation/build/reports/jacoco-xml/*.xml -printf '-r %p ')

      - name: Upload Test Reports
        id: upload-test-reports
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: Test Reports
          path: "**/build/reports/tests/**"

      - name: Set Failure Mode Output
        id: set-failure-mode
        if: ${{ always() }}
        run: |
          workflow_statuses=(
            "${{ steps.prepare-runner.outcome || 'skipped' }}"
            "${{ steps.publish-unit-test-report.outcome || 'skipped' }}"
            "${{ steps.upload-artifacts.outcome || 'skipped' }}"
            "${{ steps.publish-codecov.outcome || 'skipped' }}"
            "${{ steps.publish-codacy.outcome || 'skipped' }}"
            "${{ steps.upload-test-reports.outcome || 'skipped' }}"
          )
          general_statuses=(
            "${{ steps.gradle-test.outcome || 'skipped' }}"
          )

          failure_mode="none"

          has_failure() {
            local arr=("$@")
            for status in "${arr[@]}"; do
              [[ "${status}" == "failure" ]] && return 0
            done
            return 1
          }

          if has_failure "${general_statuses[@]}"; then
            failure_mode="general"
          fi

          if has_failure "${workflow_statuses[@]}"; then
            failure_mode="workflow"
          fi

          echo "failure-mode=${failure_mode}" >> "${GITHUB_OUTPUT}"
