# SPDX-License-Identifier: Apache-2.0
name: "ZXC: Snyk Scan"
on:
  workflow_call:
    inputs:
      ref:
        description: "The branch, tag or SHA to checkout."
        required: false
        type: string
        default: ""
      java-distribution:
        description: "Java JDK Distribution:"
        type: string
        required: false
        default: "temurin"
      java-version:
        description: "Java JDK Version:"
        type: string
        required: false
        default: "21.0.6"
      node-version:
        description: "NodeJS Version:"
        type: string
        required: false
        default: "20"
    secrets:
      access-token:
        description: "The GitHub access token used to checkout the repository, submodules, and make GitHub API calls."
        required: true
      gradle-cache-username:
        description: "The username used to authenticate with the Gradle Build Cache Node."
        required: true
      gradle-cache-password:
        description: "The password used to authenticate with the Gradle Build Cache Node."
        required: true
      snyk-token:
        description: "The Snyk access token is used by Snyk to analyze the code for vulnerabilities "
        required: false
    outputs:
      failure-mode:
        description: "Failure Mode"
        value: ${{ jobs.snyk-checks.outputs.failure-mode }}

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  actions: read
  pull-requests: write
  statuses: write
  checks: write
  contents: read

env:
  GRADLE_CACHE_USERNAME: ${{ secrets.gradle-cache-username }}
  GRADLE_CACHE_PASSWORD: ${{ secrets.gradle-cache-password }}
  GRADLE_EXEC: ionice -c 2 -n 2 nice -n 19 ./gradlew
  CG_EXEC: ionice -c 2 -n 2 nice -n 19

jobs:
  snyk-checks:
    name: "Snyk Checks"
    runs-on: ubuntu-latest
    outputs:
      failure-mode: ${{ steps.set-failure-mode.outputs.failure-mode }}
    steps:
      - name: Prepare Runner
        id: prepare-runner
        uses: pandaswhocode/initialize-github-job@bfe0b1633012cee3033c757c7095d49c360e23a6 # v1.0.1
        with:
          checkout: "true"
          checkout-ref: "${{ inputs.ref }}"
          checkout-fetch-depth: "0"
          checkout-token: "${{ secrets.access-token }}"
          setup-java: "true"
          java-version: "${{ inputs.java-version }}"
          java-distribution: "${{ inputs.java-distribution }}"
          setup-gradle: "true"
          gradle-cache-read-only: "false"
          setup-node: "true"
          node-version: "${{ inputs.node-version }}"

      - name: Setup Snyk
        id: setup-snyk
        if: ${{ github.event.repository.private == false }}
        run: ${CG_EXEC} npm install -g snyk snyk-to-html @wcj/html-to-markdown-cli

      - name: Snyk Version
        id: snyk-version
        if: ${{ github.event.repository.private == false }}
        run: snyk --version

      - name: Snyk Scan
        id: snyk-scan
        if: ${{ github.event.repository.private == false }}
        env:
          SNYK_TOKEN: ${{ secrets.snyk-token }}
        run: ${CG_EXEC} snyk test --subProject=aggregation --configuration-matching=mainRuntimeClasspath --severity-threshold=high --policy-path=.snyk --json-file-output=snyk-test.json --org=hiero-consensus-node

      - name: Snyk Code
        id: snyk-code
        if: ${{ github.event.repository.private == false }}
        env:
          SNYK_TOKEN: ${{ secrets.snyk-token }}
        run: ${CG_EXEC} snyk code test --severity-threshold=high --json-file-output=snyk-code.json --org=hiero-consensus-node

      - name: Publish Snyk Results
        id: publish-snyk-report
        if: ${{ github.event.repository.private == false }}
        run: |
          if [[ -f "snyk-test.json" && -n "$(cat snyk-test.json | tr -d '[:space:]')" ]]; then
            snyk-to-html -i snyk-test.json -o snyk-test.html --summary
            html-to-markdown snyk-test.html -o snyk
            cat snyk/snyk-test.html.md >> $GITHUB_STEP_SUMMARY
          fi

          if [[ -f "snyk-code.json" && -n "$(cat snyk-code.json | tr -d '[:space:]')" ]]; then
            snyk-to-html -i snyk-code.json -o snyk-code.html --summary
            html-to-markdown snyk-code.html -o snyk
            cat snyk/snyk-code.html.md >> $GITHUB_STEP_SUMMARY
          fi

      - name: Check Snyk Files
        id: check-snyk-files
        if: ${{ github.event.repository.private == false && always() }}
        run: |
          echo "::group::Snyk File List"
            ls -lah snyk* || true
          echo "::endgroup::"

          echo "::group::Snyk Test Contents"
            cat snyk-test.json || true
          echo "::endgroup::"

          echo "::group::Snyk Code Contents"
            cat snyk-code.json || true
          echo "::endgroup::"

      - name: Set Failure Mode Output
        id: set-failure-mode
        if: ${{ always() }}
        run: |
          workflow_statuses=(
            "${{ steps.prepare-runner.outcome || 'skipped' }}"
            "${{ steps.setup-snyk.outcome || 'skipped' }}"
            "${{ steps.publish-snyk-report.outcome || 'skipped' }}"
            "${{ steps.check-snyk-files.outcome || 'skipped' }}"
          )
          general_statuses=(
            "${{ steps.snyk-scan.outcome || 'skipped' }}"
            "${{ steps.snyk-code.outcome || 'skipped' }}"
          )

          failure_mode="none"

          has_failure() {
            local arr=("$@")
            for status in "${arr[@]}"; do
              [[ "${status}" == "failure" ]] && return 0
            done
            return 1
          }

          if has_failure "${general_statuses[@]}"; then
            failure_mode="general"
          fi

          if has_failure "${workflow_statuses[@]}"; then
            failure_mode="workflow"
          fi

          echo "failure-mode=${failure_mode}" >> "${GITHUB_OUTPUT}"
