# SPDX-License-Identifier: Apache-2.0
name: "ZXC: Compile Application Code"
on:
  workflow_call:
    inputs:
      ref:
        description: "The branch, tag or SHA to checkout."
        required: false
        type: string
      java-distribution:
        description: "Java JDK Distribution:"
        type: string
        required: false
        default: "temurin"
      java-version:
        description: "Java JDK Version:"
        type: string
        required: false
        default: "21.0.6"
      node-version:
        description: "NodeJS Version:"
        type: string
        required: false
        default: "20"
    secrets:
      access-token:
        description: "The GitHub access token used to checkout the repository, submodules, and make GitHub API calls."
        required: true
      gradle-cache-username:
        description: "The username used to authenticate with the Gradle Build Cache Node."
        required: true
      gradle-cache-password:
        description: "The password used to authenticate with the Gradle Build Cache Node."
        required: true
    outputs:
      failure-mode:
        description: "Failure Mode"
        value: ${{ jobs.compile-application-code.outputs.failure-mode }}

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  actions: read
  pull-requests: write
  statuses: write
  checks: write
  contents: read

env:
  GRADLE_CACHE_USERNAME: ${{ secrets.gradle-cache-username }}
  GRADLE_CACHE_PASSWORD: ${{ secrets.gradle-cache-password }}
  GRADLE_EXEC: ionice -c 2 -n 2 nice -n 19 ./gradlew
  CG_EXEC: ionice -c 2 -n 2 nice -n 19

jobs:
  compile-application-code:
    name: "Compile Application Code"
    runs-on: ubuntu-latest
    outputs:
      failure-mode: ${{ steps.set-failure-mode.outputs.failure-mode }}
    steps:
      - name: Prepare Runner
        id: prepare-runner
        uses: pandaswhocode/initialize-github-job@bfe0b1633012cee3033c757c7095d49c360e23a6 # v1.0.1
        with:
          checkout: "true"
          checkout-ref: "${{ inputs.ref }}"
          checkout-fetch-depth: "1"
          checkout-token: "${{ secrets.access-token }}"
          setup-java: "true"
          java-version: "${{ inputs.java-version }}"
          java-distribution: "${{ inputs.java-distribution }}"
          setup-gradle: "true"
          gradle-cache-read-only: "false"
          setup-node: "true"
          node-version: "${{ inputs.node-version }}"

      - name: Compile Application Code
        id: compile-source
        run: ${GRADLE_EXEC} assemble :yahcli:yahCliJar

      - name: Set Failure Mode Output
        id: set-failure-mode
        if: ${{ always() }}
        run: |
          if [[ "${{ steps.compile-source.outcome }}" != "success" ]]; then
            echo "Compilation step failed."
            echo "failure-mode=general" >> "${GITHUB_OUTPUT}"
          elif [[ "${{ steps.prepare-runner.outcome }}" != "success" ]]; then
            echo "Runner preparation step failed."
            echo "failure-mode=workflow" >> "${GITHUB_OUTPUT}"
          else
            echo "failure-mode=none" >> "${GITHUB_OUTPUT}"
          fi
